@charset "utf-8";

/* index */
.index_block_01{
	background: #f8f8f8 url(../images/bg_block_01.png) no-repeat center center;
}

.index_block_01 .wrap{
	width: 50%;
	min-width: 600px;
	height: 600px;
	text-align: center;
}
.index_block_01 .wrap .img{
	width: 240px;
	height: 240px;
	display: block;
    height: 240px;
    margin: 130px auto 0;
}
.index_block_01 .wrap .title,
.index_block_01 .wrap .txt{
	width: 360px;
	margin: 0 auto;
}
.index_block_01 .wrap .title{
	font-size:2.4em;
	line-height: 1.5em;
}
.index_block_01 .wrap .txt{
	font-size: 1.4em;
	line-height: 1.5em;
	color: #8b771f;
}

.index_block_01 .wrap .img:hover{
	-webkit-transform: scale(0.94);
	-moz-transform: scale(0.94);
	-ms-transform: scale(0.94);
	-o-transform: scale(0.94);
	transform: scale(0.94);
}

.index_block_01 .fl{
	background:url(../images/bg_block_left.jpg) no-repeat left bottom; 
}
.index_block_01 .fr{
	background:url(../images/bg_block_right.jpg) no-repeat right bottom;

}


.index_block_02 .title{
	font-size: 3em;
	line-height: 2em;
	text-align: center;
	padding: 30px 0;
}
.index_block_02 .sub_nav{
	text-align: center;
}
.index_block_02 .sub_nav .list{
	display: inline-block;
	+display: inline;
	+zoom:1;
	margin: 10px 0;
}

.index_block_02 .wrap{
	width: 1200px;
	margin: 80px auto 90px auto;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.index_block_02 .roll_banner{
	width: 1100px;
	margin: 0 auto;
}
.index_block_02 .roll_banner li{
	/*display: inline-block;
	+display: inline;
	+zoom: 1;*/
	float: left;
	margin: 0 0 0 25px;
	overflow: hidden;
}

.index_block_02 .roll_banner li a{
	
}


.index_block_02 .roll_banner li:first-child{
	margin: 0;
}
.index_block_02 .roll_banner li a:hover .img{
	-webkit-transform:scale(1.04);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	transform:scale(1.04);
}


.index_block_02 .roll_banner li .img{
	width: 200px;
	height: 126px;

	max-width:200px;
	max-height: 126px;
}
.index_block_02 .roll_banner li .name{
	/*width: 200px;*/
	font-size: 2em;
	line-height: 2em;
	text-transform: capitalize;
}

.index_block_02 .wrap .btn_l,
.index_block_02 .wrap .btn_r{
	width: 50px;
	height: 126px;
	position: absolute;
	display: block;
	font-size: 3em;
	line-height: 126px;
	color: #e4e4e4;
}
.index_block_02 .wrap .btn_l{
	left: 0;
}
.index_block_02 .wrap .btn_r{
	right: 0;
}
.index_block_02 .wrap .btn_l:hover,
.index_block_02 .wrap .btn_r:hover{
	color: #777;
	
}

.index_block_02 .wrap .btn_l:active{
	left: -6px;
}
.index_block_02 .wrap .btn_r:active{
	right: -4px;
}


.news .wrap .list .link:hover .sub_title,
.news .wrap .list .link:hover .more{
	color: #8b771f;
	
}





.index_block_03{

}
.index_block_03 .title{
	font-size: 3em;
	line-height: 2em;
	text-align: center;
	padding: 30px 0 40px 0;
}
.index_block_03 .wrap{
	width: 50%;
	height:380px;
}

.index_block_03 .wrap .sub_title{
	font-size: 1.6em;
	font-weight: bold;
	line-height: 2em;
	/*color: #*/
	text-align:center;
	padding: 0 0 20px 0;

}

.index_block_03 .wrap .info{
	width: 70%;
	margin: 0 10% 0 20%;
}
.index_block_03 .wrap .info{
	text-indent: 2em;
	font-size: 1.4em;
	line-height: 2em;
}

.index_block_03 .ul{
	width: 70%;
	margin: 0 20% 0 10%;
}
.index_block_03 .ul .list{
	font-size: 1.4em;
	line-height: 2em;
	list-style: inherit;
}
.index_block_03 .ul .list a{
	color: #777;
	display: block;
	position: relative;
}
.index_block_03 .ul .list a .line{
	width: 0;
	height:1px;
	background: #8b771f;
	position: absolute;
	left: 0;
	bottom:0; 
}
.index_block_03 .ul .list a:hover{
	color: #8b771f;	
}
.index_block_03 .ul .list a:hover .line{
	width: 100%;
}






.footer_banner{
	height: 400px;
	/*background:#000 url(../images/banner_footer.jpg) no-repeat 50% 410px;*/
	background:#000 url(../images/banner_footer.jpg) no-repeat 50% top;
	/*-webkit-background-size: cover;
	-mos-background-size: cover;
	-mz-background-size: cover;
	-o-background-size: cover;*/
	/*background-size: cover;*/
	/*position: relative;*/
	/*background-attachment:fixed;*/
	background-attachment:scroll;
	/*z-index: 0;*/
}



.news,
.news_detail{
	width: 800px;
	/*padding: 0 200px;*/
	/*overflow: hidden;*/
	margin: 0 auto;
}
/*.news .title{
	font-size: 5em;
	line-height: 2em;
	text-align: center;
	color: #686868;
	border-bottom:2px solid #686868; 
	padding: 20px 0 0 0;
	margin:  0 0 20px 0;
}*/
.news .wrap{

}
.news .wrap .list{
	
}
.news .wrap .list .link{
	color: #777777;
	font-size: 1.4em;
	line-height: 1em;
	border-bottom: 1px dotted #777;
	padding:12px 0;
	display: block;
	position: relative;
}

.news .wrap .list .link .time{
	display: inline-block;
	+display: inline;
	+zoom: 1;
	font-size: 1em;
	line-height: 1em;
	padding: 0 10px 0 0;
	width: auto;
	margin: 0;
}
.news .wrap .list .link .sub_title{
	display: inline-block;
	line-height: 1em;
}
.news .wrap .list .link .more{
	width: 1em;
	height: 1em;
	margin: 0 20px 0 10px ;
	display: inline-block;
	+display: inline;
	+zoom: 1;
	float: right;
}

.news .wrap .list .link .line{
	height: 1px;
	width:0;
	background: #8b771f;
	bottom:-1px;
	left: 0;
	position: absolute;
}

.news .wrap .list .link:hover .sub_title,
.news .wrap .list .link:hover .more{
	color: #8b771f;
	-webkit-transform:translate(10px,0);
	-moz-transform:translate(10px,0);
	-ms-transform:translate(10px,0);
	-o-transform:translate(10px,0);
	transform:translate(10px,0);
}
.news .wrap .list .link:hover .line{
	width:100%;
}

.news .wrap .list .link:active .more{
	color: #8b771f;
	-webkit-transform:translate(15px,0) rotate(90deg);
	-moz-transform:translate(15px,0) rotate(90deg);
	-ms-transform:translate(15px,0) rotate(90deg);
	-o-transform:translate(15px,0) rotate(90deg);
	transform:translate(15px,0) rotate(90deg);
/*	-moz-transform:translate(10px,0);
	-ms-transform:translate(10px,0);
	-o-transform:translate(10px,0);
	transform:translate(10px,0);*/
}


.news_detail{

}
/*.news_detail .title,
.news_detail .time,
.news_detail .sub_title{
	text-align: center;
	line-height: 2em;
}
.news_detail .title,
.news_detail .time,
.news_detail .txt{
	line-height: 2em;
}
.news_detail .title{
	font-size: 3em;
	color: #686868;
	border-bottom:2px solid #686868; 
	padding: 20px 0 0 0;
}

.news_detail .time,
.news_detail .sub_title,
.news_detail .txt{
	color: #777777;
}

.news_detail .time{
	font-size: 2em;
	width: 120px;
	padding: 10px 0 0 0;
	margin: 0 auto;
	display: block;
}
.news_detail .sub_title span{
	font-size: 2.4em;
	border-bottom:1px solid #686868;
	margin: 10px 0;
	padding: 5px 10px; 
	display: inline-block;
	+display: inline;
	+zoom: 1;
}*/
.news_detail .txt{
	font-size: 1.4em;
	margin: 30px 0;
}
.news_detail p{
	text-indent: 2em;
}



/* 产品 */
.product{ }
.product .product_wrap{ overflow: hidden; margin: 20px 0; }
.product .product_wrap .list{ float: left; width: 380px; margin: 0 20px 20px 0; padding: 5px; background: #fff; position: relative; overflow: hidden; }
.product .product_wrap .list:nth-child(2n),.product .product_wrap .list_clear{ margin: 0 0 20px 0; }
.product .product_wrap .list .img_wrap{ position: relative; left: 0; }
.product .product_wrap .list .img_wrap .img{ display: block; width: 380px;height: 240px;}
.product .product_wrap .list .img_wrap .name{ font-size: 2em; line-height: 2em; color: #686868; text-align: right; border-top:2px solid #686868; display: block; margin: 10px 0 0 0;padding: 0 20px 0 0; }
.product .product_wrap .list .img_wrap .type{
	font-size: 1.4em;
	line-height: 50px;
	text-align:center;
	text-transform: capitalize;
	color: #fff;
	/*background-color: #777777;*/
	background-color: rgba(119,119,119,.9);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E6777777', endColorstr='#E6777777');
	/*width: 50px;*/
	height: 50px;
	padding: 0 10px;
	display:block;
	position: absolute;
	top: 0;
	right: 20px;
}
:root .product .product_wrap .list .img_wrap .type{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00777777', endColorstr='#00777777');
}

.product .product_wrap .list .txt_wrap{ position: absolute; right: 0; width:50%; right: -20px;
	filter:alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0.94);
	-moz-transform: scale(0.94);
	-ms-transform: scale(0.94);
	-o-transform: scale(0.94);
	transform: scale(0.94);
}
:root .product .product_wrap .list .txt_wrap{
	filter:alpha(opacity=100);
}

.product .product_wrap .list .txt_wrap .info,
.product .product_wrap .list .txt_wrap .btn{ margin: 0 5px 0 20px; }
.product .product_wrap .list .txt_wrap .info{ font-size: 1.4em; line-height: 1.5em; height: 180px; }
.product .product_wrap .list .txt_wrap .btn{margin-top: 11px; }

.product .product_wrap .list:hover{

}

.product .product_wrap .list:hover .img_wrap{ left: -50%; }
.product .product_wrap .list:hover .name{ color: #8b771f; border-top:2px solid #8b771f; }
.product .product_wrap .list:hover .img_wrap .type{ background-color: rgba(139,119,31,.9); filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E68b771f', endColorstr='#E68b771f'); }
:root .product .product_wrap .list:hover .img_wrap .type{ filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#008b771f', endColorstr='#008b771f'); }

.product .product_wrap .list:hover .txt_wrap{
	right: 0;
	filter:alpha(opacity=100);
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
:root .product .product_wrap .list:hover .txt_wra{
	filter:alpha(opacity=0);
}
.product .product_wrap .list:hover .txt_wrap .info{
	height: 240px;
}


/* 产品详细 */
.product_detail{

}
.product_detail .img_wrap{
	width: 400px;
	float: left;
}
.product_detail .img_wrap .wrap{
	width: 400px;
	margin: 0 0 20px 0;
	/*border:2px solid transparent;*/
	/*border:2px solid #8b771f;*/
}
.product_detail .img_wrap .wrap .o_hidden{
	height: 400px;
	/*width: 400px;*/
}
.product_detail .img_wrap .wrap .img{
	min-width: 400px;
	max-width: 400px;
}

.product_detail .img_wrap .wrap .img:hover{
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
	-o-transform: scale(1.04);
	transform: scale(1.04);
}

.product_detail .img_wrap .show_nav{

}
.product_detail .img_wrap .show_nav .list{ 
	float: left;
	width: 94px;
	height: 94px;
	margin: 0 0 0 8px;
}
.product_detail .img_wrap .show_nav .list:first-child{
	margin:0;
}
.product_detail .img_wrap .show_nav .list .img{ 
	border: 2px solid #e4e4e4;
	min-width: 90px;
	min-height: 90px;
	max-width: 90px;
	max-height: 90px;
}
.product_detail .img_wrap .show_nav .list:hover .img{
	border: 2px solid #8b771f;
}

.product_detail .detail{
	margin: 50px 0 0 0;
	font-size: 1.6em;
	line-height: 2em;
}
.product_detail .detail p{
	text-indent: 2em;

}
.product_detail .detail img{
	min-width: 800px;
	max-width: 800px;

	/*text-indent: 2em;*/
}

.product_detail .info_wrap{
	float: left;
	width: 400px;
}
.product_detail .info_wrap .style,
.product_detail .info_wrap .info{
	padding:  0 0 0 30px;
}
.product_detail .info_wrap .style{
	font-size: 3em;
	text-transform: capitalize;
	margin: 0 0 40px 0;
}
.product_detail .info_wrap .info{
	font-size: 1.4em;
	line-height: 2em;
	text-indent: 1em;
}





/* 留言 */
.message{

}
.message .content{
	
}
.message ul{
	text-align: center;
	margin: 0 auto;
	width: 620px;
}
.message ul .list{
	overflow: hidden;
	margin: 10px 0;
}

.message ul .list .txt,
.message ul .list input,
.message ul .list .txts{
	display: block;
	float: left;
	font-size: 2em;
	color: #777777;
	/*line-height: 2em;*/
}

.message ul .list .txt{
	text-transform: capitalize;
	text-align: right;
	padding:0 20px 0 0;
	width: 120px;
	height: 40px;
}
.message ul .list input,
.message ul .list .txts{
	border:none;
	outline: none;
	width:440px;
	padding: 10px 20px;
	background-color: rgba(228,228,228,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#f0e4e4e4', endColorstr='#f0e4e4e4');
}

:root .message ul .list input,
:root .message ul .list .txts{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00e4e4e4', endColorstr='#00e4e4e4');
}


.message ul .list .txts{
	height: 6em;
}
.message ul .list .btn input{
	width: 424px;
	background: none;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}


.message ul .list input:hover,
.message ul .list .txts:hover{
	background-color: rgba(216,216,216,1);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#ffd8d8d8', endColorstr='#ffd8d8d8');
}




.message ul .list input:focus,
.message ul .list .txts:focus{
	background-color: rgba(216,216,216,1);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#ffd8d8d8', endColorstr='#ffd8d8d8');

	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(139,119,31,0.8);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(139,119,31,0.8);
	-ms-box-shadow: inset 0px 0px 0px 3px rgba(139,119,31,0.8);
	-o-box-shadow: inset 0px 0px 0px 3px rgba(139,119,31,0.8);
	box-shadow: inset 0px 0px 0px 3px rgba(139,119,31,0.8);
}


.message ul .list .btn input:focus{
	background:none; 
	box-shadow:none;
}
.message ul .list .btn input:hover{
	background: none;
	color: #fff;
}

.message ul .list .btn:hover{
	background-color: #e1c95e;
	/*transform:scale(-1,1) rotate(0deg) skew(0deg,0deg);*/
}
.message ul .list .btn:active{
	background-color: #d0b956;

}
/*.message ul .list .btn:hover input{
	transform:scale(-1,1);
}*/

/* 联系我们 */
.contactus{

}
.contactus .map{
	width: 100%;
	height: 300px;
	margin: 10px 0;
}
.contactus .contact_info{
	margin: 30px 0 0 0;
}
.contactus .contact_info .list{
	margin: 0 0 30px 0;
}
.contactus .contact_info .list .info_title{
	font-size: 3em;
	display:inline-block;
	+display: inline;
	+zoom: 1;
	width: 120px;
	text-align: right;
	vertical-align: top;
}
.contactus .contact_info .list .info{
	font-size: 1.8em;
	line-height: 2em;
	padding: 0 0 0 20px;
	display:inline-block;
	+display: inline;
	+zoom: 1;
}
.contactus .contact_info{

}


/*.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}*/
/*.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}*/


.footer_banner,
.index_block_01 .wrap .img,
.index_block_02 .wrap .btn_l,
.index_block_02 .wrap .btn_r,
.index_block_02 .wrap .btn_l span,
.index_block_02 .wrap .btn_r span,
.index_block_02 .roll_banner li .img,
.index_block_03 .ul,
.index_block_03 .ul .list,
.index_block_03 .ul .list a,
.index_block_03 .ul .list a .line,
.news .wrap .list,
.news .wrap .list .link,
.news .wrap .list .link .time,
.news .wrap .list .link .sub_title,
.news .wrap .list .link .more,
.news .wrap .list .link .line,
.product .product_wrap,
.product .product_wrap .list,
.product .product_wrap .list .img_wrap,
.product .product_wrap .list .img_wrap .img,
.product .product_wrap .list .img_wrap .name,
.product .product_wrap .list .img_wrap .type,
.product .product_wrap .list .txt_wrap,
.product .product_wrap .list .txt_wrap .info,
.product .product_wrap .list .txt_wrap .btn,
.product_detail .img_wrap .wrap .img,
.product_detail .img_wrap .show_nav .list .img,
.message ul .list input,
.message ul .list .txts{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

/* 
	通用样式 


链接	#8b771f
链接浅色#e1c95e

标题	#686868
正文	#777777

边框	#e4e4e4
灰色	#777777
深灰	#5d5d5d

border:2px solid #686868; 


*/